<a href="https://colab.research.google.com/github/Creatrohit9/Credit-Card-Default-Prediction-Rohit-Bhadauriya/blob/main/Credit_Card_Default_Prediction_Rohit_Bhadauriya_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Predicting whether a customer will default on his/her credit card </u></b>

## <b> Problem Description </b>

### This project is aimed at predicting the case of customers default payments in Taiwan. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. We can use the [K-S chart](https://www.listendata.com/2019/07/KS-Statistics-Python.html) to evaluate which customers will default on their credit card payments

## <b> Data Description </b>

### <b>Attribute Information: </b>

### This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:
* ### X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
* ### X2: Gender (1 = male; 2 = female).
* ### X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
* ### X4: Marital status (1 = married; 2 = single; 3 = others).
* ### X5: Age (year).
* ### X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
* ### X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
* ### X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

# **Importing**

In [1]:
# Importing all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, confusion_matrix, roc_curve, auc

from sklearn.svm import SVC

In [2]:
path='/content/drive/MyDrive/Copy of creditcard.csv'

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
cred_df=pd.read_csv(path,header=1)

## **Dataset Inspection**

In [5]:
cred_df.head()

   0.11469728900000001  0.796303317  -0.14955297  ...  0.085712556    0.89  0
0            -0.039318     0.495784    -0.810884  ...     0.256836   85.00  0
1             2.275706    -1.531508    -1.021969  ...    -0.051289   42.70  0
2             1.940137    -0.357671    -1.210551  ...    -0.056841   29.99  0
3             1.081395    -0.502615     1.075887  ...     0.052036   68.00  0
4             0.441380    -2.217230     0.802581  ...     0.085977  423.70  0

[5 rows x 30 columns]

In [6]:
cred_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56961 entries, 0 to 56960
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   0.11469728900000001   56961 non-null  float64
 1   0.796303317           56961 non-null  float64
 2   -0.14955297           56961 non-null  float64
 3   -0.823010912          56961 non-null  float64
 4   0.87876293            56961 non-null  float64
 5   -0.5531516679999999   56961 non-null  float64
 6   0.939258609           56961 non-null  float64
 7   -0.10850208199999999  56961 non-null  float64
 8   0.111137136           56961 non-null  float64
 9   -0.39052109           56961 non-null  float64
 10  -1.949545633          56961 non-null  float64
 11  -0.49443616100000004  56961 non-null  float64
 12  -0.35369634299999997  56961 non-null  float64
 13  0.158729134           56961 non-null  float64
 14  -0.267238818          56961 non-null  float64
 15  0.234802455           56961 non-null  float64
 16  -0.754936068          56961 non-null  float64
 17  -0.34301213799999997  56961 non-null  float64
 18  0.31217459999999997   56961 non-null  float64
 19  -0.042711165          56961 non-null  float64
 20  -0.335776323          56961 non-null  float64
 21  -0.807853023          56961 non-null  float64
 22  -0.055940317          56961 non-null  float64
 23  -1.025281481          56961 non-null  float64
 24  -0.369557232          56961 non-null  float64
 25  0.204653108           56961 non-null  float64
 26  0.24272434699999998   56961 non-null  float64
 27  0.085712556           56961 non-null  float64
 28  0.89                  56961 non-null  float64
 29  0                     56961 non-null  int64
dtypes: float64(29), int64(1)
memory usage: 13.0 MB

No Null VALUES AND NO CATEGORICAL VARIABLE

In [7]:
cred_df.shape

(56961, 30)

In [8]:
 cred_df.describe(include='all')

       0.11469728900000001   0.796303317  ...          0.89             0
count         56961.000000  56961.000000  ...  56961.000000  56961.000000
mean              0.013284      0.006596  ...     87.660320      0.001720
std               1.941248      1.611235  ...    258.044888      0.041443
min             -36.510583    -47.429676  ...      0.000000      0.000000
25%              -0.908603     -0.600214  ...      5.630000      0.000000
50%               0.036234      0.061830  ...     21.900000      0.000000
75%               1.319734      0.801179  ...     77.500000      0.000000
max               2.446505     18.902453  ...  25691.160000      1.000000

[8 rows x 30 columns]